* {
  box-sizing: border-box;
}

body {
  background-image: url(https://picsum.photos/1920);
  padding: 5% 10%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.owl-carousel {
  overflow: hidden;
}

.content {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 50%;
}

.content-container {
  padding: 5%;
}

.content-container1 {
  padding: 5%;
}
.content-container2 {
  padding: 5%;
}
